.input-error{
    border: 3px solid rgb(233, 93, 93);
}

* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

form {
    max-width: 700px;
    margin: 0 auto;
}


form > fieldset {
    padding: 30px;
}


h1 {
    margin-bottom: 20px;
    font-size: 32px;
}


fieldset fieldset {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 5px;
    row-gap: 10px;
    border: 2px solid #000;
    padding: 20px;
    margin-bottom: 20px;
}
.nombreUsuario {
    grid-column: span 2;
}
legend {
    padding: 0 10px;
    font-weight: bold;
}

input,
select {
    width: 100%;
    padding: 10px;
    font-size: 14px;
}


label {
    display: block;
    margin-bottom: 6px;
    font-weight: bold;
}


form > fieldset > div {
    margin-bottom: 20px;
}


button {
    display: block;
    margin-left: auto;
    padding: 10px 30px;
    background: #fff;
    border: 2px solid #000;
    font-weight: bold;
    cursor: pointer;
    position: relative;
}


button:hover {
    background-color: black;
    color: white;
}