#sctContenedor{
    border: 2px solid black;
    height: 500px;

    display: flex;

    flex-direction: row;

    justify-content: space-evenly;

    align-items: center;
}

.cuadrado{
    width: 75px;
    height: 75px;
    border: 2px solid #000;
}

.verde{
        background-color: green;
}

.rojo{
        background-color: rgb(99, 2, 2);
}

.azul{
        background-color: rgb(2, 2, 63);
}

.amarillo{
       background-color: yellow;
}